{% extends "base.html" %}
{% block title %}USER MARKET{% endblock title %}
{% block main %}
<dir class="container-fluid">
<img src="/media/banner.jpeg" class="img-responsive banner" />
</dir>
<div class="container">

{% if articulos %}
	<div class="row">
    {% for i in articulos %}
        <div class="col-sm-3">
        <div class="card" style="height:300px;">
        	<a href="{% url 'articulo' articulo_id=i.id %}">
		<img src="/media/{{ i.imagen }}" class="img-responsive card-img-top">
		</a>
		<div  class="card-body" >
		
		<p class="card-title"><a href="{% url 'articulo' articulo_id=i.id %}">{{i.nombre|truncatewords:"6"}}</a></p>
		<p>{{i.precio}}<strong> $</strong></p>
        </div>
        </div>
        <div style="height:20px;"></div>
		</div>
	{% endfor %}
    </div>
{% else %}
	<h1>Nada!</h1>
{% endif %}
</div>
{% endblock main %}